<a href="https://colab.research.google.com/github/AlejandroPSJ2/Data_Mining/blob/main/Reg_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import statsmodels.api as sm
url = 'https://raw.githubusercontent.com/AlejandroPSJ2/Data_Mining/main/reg_example.csv'
df = pd.read_csv(url,sep=';')

In [26]:
df.head()

   Week  PRICE 12PK  PRICE 18PK  PRICE 30PK  CASES 12PK  CASES 18PK  CASES 30PK
0     1       19.98       14.10       15.19       223.5         439       55.00
1     2       19.98       18.65       15.19       215.0          98       66.75
2     3       19.98       18.65       13.87       227.5          70      242.00
3     4       19.98       18.65       12.83       244.5          52      488.50
4     5       19.98       18.65       13.16       313.5          64      308.75

In [27]:
Y = df['CASES 30PK']
X = df['PRICE 30PK']
X = sm.add_constant(X)

In [28]:
mod = sm.OLS(Y,X)
res = mod.fit()

In [32]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CASES 30PK   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     93.22
Date:                Tue, 19 Jan 2021   Prob (F-statistic):           5.17e-13
Time:                        05:33:15   Log-Likelihood:                -294.71
No. Observations:                  52   AIC:                             593.4
Df Residuals:                      50   BIC:                             597.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1887.2558    178.648     10.564      0.000    1528.431    2246.081
PRICE 30PK  -119.7708     12.405     -9.655      0.000    -144.687     -94.855
==============================================================================
Omnibus:                        9.964   Durbin-Watson:                   1.810
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               15.078
Skew:                           0.548   Prob(JB):                     0.000532
Kurtosis:                       5.400   Cond. No.                         261.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.